
<!-- *********************************************************************************************************-->
<div id="create_new_bucked_window" *ngIf="currentDisplay">
	<app-create-new-bucket [display]="currentDisplay" (out)="displayListener($event)"></app-create-new-bucket>
</div>

<h2></h2>

<div id='display_main'>
	<h4 style="display:inline; font-size:15px ">{{dolzina}}</h4>
	<button id="new_bucket_btn" (click)="onPress()">Create New Bucket</button>
	
	<p></p>

	<table style="display:inline-block; border: 4px solid blue;">
			<tr style="display: inline; background-color: grey; padding:8px; border: 2px solid blue">
				<!--<th style="padding:0 0 0 50;">Name</th>
				<th style="padding:0 0 0 795px;">Location</th>	-->
				<th style="width:664px; text-align:left">Name</th>
				<th style="width:664px; text-align:center; padding-right:228px">Location</th>	
			</tr>
		<h4>
			<tr *ngFor="let i of seznamList; first as isFirst">
				<!--<td style="padding:0 0 0 50;">{{i.ime}}</td>
				<td style="padding:0 0 0 750px;">{{i.lokacija}}</td>-->
				<td style="padding:0 0 0 50;" *ngIf="isFirst"><a href="/my-new-storage.component.html">{{i.ime}}</a></td>
				<td style="padding:0 0 0 50;" *ngIf="!isFirst">{{i.ime}}</td>
				<td style="padding:0 0 0 750px;">{{i.lokacija}}</td>
			</tr>
		</h4>
</table>
</div>


<p *ngIf="ime" style="text-align:center; color:magenta">Bucket name: {{ime}} and location: {{lokacija}} will be written in JSON Secure Database.. Under development!</p>
<!-- *********************************************************************************************************-->
